$inclinacao: -4.4deg; //Ajusta o angulo de inclinação

.linha__diagonal-antes{
    width: 100%;
    height: 100vh;
    padding: 180px 0 150px;
    background-image: url('https://images.pexels.com/photos/574071/pexels-photo-574071.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-size: cover;
    z-index: 2;
}

.linha__diagonal{
    width: 100%;
    display: flex;
    align-items: center;
    .diagonal-bg {
        position: relative;
        overflow: hidden;
        width: 100%;
        padding: 10px 0;
        background: linear-gradient(to bottom right, #e2ff6e, #e2ff6e);
        transform: skewY($inclinacao);
        margin-top: -77px;
        z-index: 3;
    }
    .carousel {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 25px;
        overflow: hidden;
        width: 100%;
        height: 100%;
        
    }
    .carousel-item {
        color: black;
        white-space: nowrap;
        font-size: 46px;
        font-weight: lighter;
        line-height: 1.2;
    }
}
.linha__diagonal-depois{
    width: 100%;
    height: 50vh;
    background-color: white;
    transform: skewY($inclinacao);
    margin-top: -5px;
    z-index: 2;
    padding: 180px 120px 150px;
    .container__rotationFix{
        transform: skewY(calc($inclinacao * -1)); //Corrige a inclinação
    }
}



